body{
    transition: 0.2s;
}

.darktheme{
    background-color: black;
    color: white;
}

btn{
    color: white;
    background-color: green;
    padding: 0.5rem;
    border-radius: 20px;
    /*カーソル変更*/
    cursor: pointer;
}

.alert{
    color: red;
}