p{
    margin: 0 10px 0 10px;
}

#d_area{
    background-color: green;
}

#p_area{
    background-color: skyblue;
    margin-bottom: 10px;
}

.area{
    width: 400px;
    height: 80px;
    color: white;
    font-size: 18px;
}

.hide{
    display: none;
}