body{
    background-color: black;
    color: white;
}

#sc_btn{
    position: fixed;
    right: 10px;
    bottom: 20px;
}

.hidden{
    visibility: hidden;
}

.green{
    background-color: green;
    color: white;
}

.main_contents{
    height: 1200px;
}
