#d_area{
    background-color: green;
}

#p_area{
    background-color: skyblue;
    margin-bottom: 30px;
}

.area{
    width: 400px;
    height: 50px;
    color: white;
    font-size: 30px;
}

.hide{
    opacity: 0;
    visibility: hidden;
}